/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FONTES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html{
  font-size: 16px
}

:root {
    --dark: #002400;
    --white: #fff;
    --black: #000;
    --green: #72b01d;
    --gray20: #f2f2f2;
    --gray30: #e6e6e6;
    --gray40: #999999;
    --gray50: #cccccc;
}

input[type="text"] {
  outline: none;
}

.errorTerms {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 8px;
  text-decoration-thickness: 0.2em;
  text-decoration-color: red!important;
}

.errorInput{
  border-color: red!important;
  outline: none;
}

.errorLabel {
  color: red!important;
  font-weight: bold;
}


body{background: var(--gray30) !important; overflow-x: hidden; font-family: 'Poppins', sans-serif !important; box-sizing: border-box;}

a{text-decoration: none !important; transition: all 0.5s ease;}
a:hover{color: #0a9bff;}

.container-full{width: 100%; max-width: 1920px; margin: 0 auto; position: relative; display: flex; flex-direction: row; align-items: self-end;}

.noPadding{padding: 0 !important;}
.img-responsive{display: inline-block !important; max-width: 100%; height: auto}
.bg-green{position: absolute; width: 100%; left: 0; top: 0; min-height: 28.62545rem; background: var(--green);}

/* HEADER */
.sidebar{width: 100%; max-width: 25.75rem; background: var(--dark); border-radius: 2.75rem; padding: 2.875rem 2rem; /*border-radius: 0 2.75rem 2.75rem 2.75rem*/}
.sidebar .logo{display: block; width: 100%; text-align: center;}
.sidebar .logoFechada{display: none; width: 100%; text-align: center;}
.sidebar hr{display: block; width: 100%; height: 1px; border: none; background: var(--green); margin: 1.875rem auto}
.sidebar .menu{display: block; width: 100%;}
.sidebar .menu ul{padding: 0 1.25rem; margin-bottom: 0;}
.sidebar .menu ul li{width: 100%; list-style: none;}
.sidebar .menu ul li a{color: var(--gray30); font-size: 1.25em; line-height: 1.541875em;  display: grid; grid-template-columns: 0.6fr 2fr; padding: 0.5rem 1.25rem;border-radius: 1rem;; border: 2px solid transparent}
.sidebar .menu ul li a .img{position: relative; top: 4px}
.sidebar .menu ul li a .name{display: flex; align-items: center;}
.sidebar .menu ul li a:hover{color: var(--gray30); background: #183918; border: 2px solid #012000;}

.fechado{ width: auto; background: var(--dark); border-radius: 5rem; padding: 2.875rem 1rem; /*border-radius: 0 2.75rem 2.75rem 2.75rem*/}
.fechado .logo{display: none; width: 100%; text-align: center;}
.fechado .logoFechada{display: block; width: 100%; text-align: center; max-width: 55%; margin: 0 auto;}
.fechado hr{display: block; width: 100%; height: 1px; border: none; background: var(--green); margin: 1.875rem auto}
.fechado .menu{display: block; width: 100%;}
.fechado .menu ul{padding: 0; margin-bottom: 0;}
.fechado .menu ul li{width: 100%; list-style: none;}
.fechado .menu ul li a{color: var(--gray30); font-size: 1.25em; line-height: 1.541875em;  display: block; text-align: center; padding: 0.5rem 1.25rem;border-radius: 5rem;; border: 2px solid transparent}
.fechado .menu ul li a .img{position: relative; top: 4px}
.fechado .menu ul li.itemFechado a .img img{transform: rotate(90deg) !important;}
.fechado .menu ul li a .name{display: none;}
.fechado .menu ul li a:hover{color: var(--gray30); background: #183918; border: 2px solid #012000;}

.content-global{display: block; width: 100%; margin: 0 2rem; padding: 3.125rem 0}
.content-global .head{display: grid; grid-template-columns: 1fr 1fr; align-items: center; margin: 0 0 2.575rem}
.content-global .head h1{display: block; width: 100%; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 1.3725em; color: var(--gray20);}
.content-global .head h1 img{position: relative; top: 7px; margin: 0 0.5rem 0 0 }
.content-global .head .user{display: block; width: 100%; text-align: right;}
.content-global .head .user ul{padding: 0; margin-bottom: 0;}
.content-global .head .user ul li{display: inline-block; margin: 0 1rem 0 0; position: relative;}
.content-global .head .user ul li:last-child{margin: 0;}
.content-global .head .user ul li .message{display: block; width: 100%; color: var(--gray20); font-size: 1.23125em; position: relative; top: -1rem}
.content-global .head .user ul li .photo{display: inline-block;}
.content-global .head .user ul li .photo img{width: 3.3125rem; height: 3.3125rem; border-radius: 50%; border: 1px solid var(--white); object-fit: cover;}


.copyright{display: block; width: 100%; text-align: right; color: #b3b3b3; font-size: 1.375em; font-weight: 500; margin: 3.125rem 0 0}



@media(max-width: 1240px){
  .grid-painelaluno{grid-template-columns: 1fr}
  html{font-size: 12px}
}


@media(max-width: 767px){
  .sidebar{display: none}
}

@media(max-width: 480px){
  .content-global .head .user ul li .message{display: none}
  .content-global .head h1{margin: -1.1rem 0 0}
}

@media(max-width: 1440px){
  html {
      font-size: 14px;
  }
}

.titleH1 {
  position: relative;
  top: -5px;
  left: 8px;
}

.container-full{align-items: baseline;}

.toogle{
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
  border-bottom: 2px solid #fff;
}

@media(max-width: 640px){
  .menu li{margin: 0 0 2rem;}
  .menu li:last-child{margin: 0}
}

.sidebar .menu ul li.itemFechado a .img img{
  transform: rotate(
-90deg) ;
}