/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FONTES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', sans-serif !important;
  scrollbar-width: auto;
  scrollbar-color: #002400 #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #002400;
  border-radius: 10px;
  border: 1px none #ffffff;
}

a {
  color: white;
}

.main {
  margin: 0px 20px;
}

:root {
  --dark: #002400;
  --white: #fff;
  --black: #000;
  --green: #72b01d;
  --gray20: #f2f2f2;
  --gray30: #e6e6e6;
  --gray40: #999999;
  --gray50: #cccccc;
}

input[type="text"] {
  outline: none;
}

.errorTerms {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 8px;
  text-decoration-thickness: 0.2em;
  text-decoration-color: red !important;
}

.errorInput {
  border-color: red !important;
  outline: none;
}

.errorLabel {
  color: red !important;
  font-weight: bold;
}


body {
  background: var(--green) !important;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box;
}

/* Main Page */

/* Mobile */

.header-logo-nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  margin-top: 10px;
}

.header-logo-mobile img {
  height: 60px;
}

.hamburger-button {
  display: none;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  z-index: 9999;
  background-color: transparent;
  background-image: url(https://res.cloudinary.com/dnpyq0ocz/image/upload/v1588441892/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.hamburger-button.open {
  background-image: url(https://res.cloudinary.com/dnpyq0ocz/image/upload/v1588441892/icon-hamburger-close.svg);
  z-index: 9999;
}

.panel {
  background-color: var(--dark);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
  position: fixed;
  z-index: 5;
  top: -100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  padding: 4em;
  display: flex;
  justify-content: center;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
  -moz-transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
  -ms-transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
  -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
}

.panel.open {
  visibility: visible;
  width: 100%;
  top: 0;
  opacity: 1;
  display: flex;
  justify-content: center;
}

.panel ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel ul li {
  list-style: none;
  font-size: 2em;
  text-align: center;
}

.panel ul li+li {
  margin-top: 1em;
}

.panel ul li a {
  text-decoration: none;
}

.panel ul li a:hover {
  color: var(--gray50);
}

.aluno-mobile {
  background: var(--white);
  padding: 15px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: var(--dark);
  font-weight: 600;
  font-size: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.aluno-mobile:hover {
  border: var(--green) 4px solid;
  background-color: var(--dark);
  color: var(--white);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  box-shadow: 0 0 25px var(-);
}

.aluno-mobile:active {
  background: var(--dark);
  color: var(--white);
}

@media (max-width: 1480px) {
  .header-logo-nav {
    display: flex;
  }

  .hamburger-button {
    display: block;
  }
}

/* Mobile */

/* Pc */

.header-nav {
  margin-top: 30px;
  display: none;
  justify-content: space-around;
  align-items: center;
}

.header-nav img {
  height: 90px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar h2 {
  margin: 0px 15px;
  font-size: 20px;
  color: var(--dark);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar h2:hover {
  color: var(--white);
}

.aluno {
  background: var(--white);
  padding: 15px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: var(--dark);
  font-weight: 600;
  font-size: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.aluno:active {
  background: var(--dark);
  color: var(--white);
}

@media (min-width: 1490px) {
  .header-nav {
    display: flex;
  }
}

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main .logo {
  width: auto;
  height: 250px !important;
}

@media (max-width: 640px) {
  .logo {
    width: auto;
    height: 130px !important;
  }
}

.information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.foto {
  width: 850px;
}

.text-foto {
  position: absolute;
  background-color: var(--dark);
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 35px;
  width: 570px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  margin-left: 290px;
  margin-top: -140px;
}

@media (max-width: 696px) {
  .foto-header {
    margin: -150px 0;
    transform: scale(0.55);
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    -ms-transform: scale(0.55);
    -o-transform: scale(0.55);
  }
}

@media (max-width: 450px) {
  .foto-header {
    transform: scale(0.45);
    -webkit-transform: scale(0.45);
    -moz-transform: scale(0.45);
    -ms-transform: scale(0.45);
    -o-transform: scale(0.45);
  }

  .texto{
    margin-top: -20px;
  }

  .banner-description{
    margin: -140px 0 20px 0;
  }
}

@media (max-width: 1550px) {
  .information {
    flex-wrap: wrap;
  }
}

.information .texto {
  text-align: center;
  font-size: 45px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information .texto .subtitle {
  font-size: 35px;
  color: var(--dark);
}

.line {
  background-color: var(--white);
  width: 90px;
  height: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.line_header {
  width: 350px;
  border-top: 5px solid white;
}

#precos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#precos h1 {
  margin: 10px 0;
  font-size: 50px;
  text-align: center;
  color: white;
}

#precos .columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1em;
}

#precos .column {
  width: 400px;
  height: auto;
  background-color: white;
  margin: 20px;
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 25px;
}

@media (max-width: 490px) {
  #precos .column{
    margin: 20px auto;
    width: 90%;
  }
}

.preco_informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.periodo {
  font-size: 30px;
  font-weight: 400;
  color: var(--dark);
}

.boxPreco {
  margin: 10px 0px;
  text-align: center;
  background: var(--gray30);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.parcelas {
  font-size: 30px;
}

.preco {
  font-size: 45px;
  font-weight: 800;
}

.lista {
  margin-top: 20px;
  line-height: 50px;
  display: flex;
  font-weight: 400;
  justify-content: flex-start;
  flex-direction: column;
}

.lista ul li {
  font-size: 30px !important;
}

#precos .botao {
  margin: 20px 4px 10px 4px;
  padding: 20px;
  background-color: var(--dark);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao a {
  transition: all 0.3s ease;
  color: var(--white);
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.botao:hover {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Como Funciona */

.comofunciona {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comofunciona_text {
  margin: 10px 0;
  font-size: 45px;
  color: var(--white);
}

.passo1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.passo1_information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.informations {
  width: auto;
  max-width: 500px;
  font-size: 30px;
  color: white;
}

.informations h1 {
  font-size: 50px;
}

.line_continue1 {
  width: 450px;
  height: 150px;
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-radius: 0 50px 0 0;
  -webkit-border-radius: 0 50px 0 0;
  -moz-border-radius: 0 50px 0 0;
  -ms-border-radius: 0 50px 0 0;
  -o-border-radius: 0 50px 0 0;
  margin: 100px 0 0 100px;
}

.line_continue1_mobile {
  display: none;
  height: 100px;
  border-right: 5px solid white;
  margin: 30px 0;
}

.passo2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.passo2_information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.line_continue2 {
  height: 550px;
  border-right: 5px solid white;
  margin: 0 100px;
}

.line_continue2_mobile {
  display: none;
  height: 100px;
  border-right: 5px solid white;
  margin: 30px 0;
}

.passo3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.passo3_information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.passo3_line_information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.passo3 .informations {
  margin-top: -90px;
}

.line_continue3 {
  width: 900px;
  height: 150px;
  border-right: 5px solid white;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-radius: 50px 50px 0 0;
  -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  -ms-border-radius: 50px 50px 0 0;
  -o-border-radius: 50px 50px 0 0;
  margin: 0 100px;
}

.passo3_photos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.text_information_passo3 {
  margin: 20px 0 20px 0;
  padding: 10px;
  width: 100%;
  max-width: 550px;
  font-size: 20px;
  color: white;
}

.line_continue3_mobile {
  display: none;
  height: 100px;
  border-right: 5px solid white;
  margin: 30px 0;
}

.passo4 {
  width: 100%;
}

.passo4_information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.line_continue4 {
  width: 450px;
  border-top: 5px solid white;
}

@media (max-width: 930px) {
  .line_continue2 {
    display: none;
  }

  .line_continue3 {
    display: none;
  }

  .line_continue1_mobile {
    display: block;
  }

  .line_continue2_mobile {
    display: block;
  }

  .line_continue3_mobile {
    display: block;
  }

  .passo3 {
    margin-top: 80px;
  }
}

@media (max-width: 1530px) {
  .line_continue1 {
    display: none;
  }

  .line_continue4 {
    display: none;
  }
}

/* Como Funciona */

/* Tips */

.tips_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tips_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tips_information_group1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tips_information1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  width: 100%;
}

.image_tips1 {
  width: 950px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 0px 25px rgba(0, 36, 0, 0.3);
}

.tips1 {
  width: 500px;
  position: absolute;
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
  margin-top: 380px;
  margin-right: 550px;
  background-color: white;
  color: var(--dark);
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 0px 0px 25px rgba(0, 36, 0, 0.3);
}

.tips1 span,
.tips2 span,
.tips3 span,
.tips4 span,
.tips5 span,
.tips6 span {
  font-weight: 800;
  text-decoration: underline;
}

.tips2 {
  width: 450px;
  position: absolute;
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
  margin-top: 500px;
  margin-left: 550px;
  background-color: white;
  color: var(--dark);
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 0px 0px 25px rgba(0, 36, 0, 0.3);
}

.tips_information3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.line_tips {
  width: 350px;
  border-top: 5px solid white;
}

.tips3 {
  width: 650px;
  font-size: 30px;
  padding: 40px;
  font-weight: 600;
  background-color: white;
  color: var(--dark);
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 0px 0px 25px rgba(0, 36, 0, 0.3);
}

.tips5 {
  margin: 50px 0 20px 0;
  width: 100%;
  max-width: 1500px;
  font-size: 30px;
  font-weight: 600;
  color: var(--white);
}

@media (max-width: 696px) {
  .image_tips1 {
    width: 420px;
  }

  .tips_information1 {
    margin: 100px 0;
  }

  .tips1 {
    width: 350px;
    font-size: 15px;
    margin: 0 100px 320px 0;
    padding: 20px;
  }

  .tips2 {
    width: 350px;
    margin: 320px 0 0 110px;
    padding: 20px;
    font-size: 15px;
  }

  .tips_information3 {
    width: 100%;
  }

  .tips3 {
    width: 850px;
    font-size: 20px;
  }

}

@media (max-width: 450px) {
  .image_tips1{
    width: 380px;
  }
  
  .tips1{
    width: 320px;
    margin: 0 80px 280px 0;
  }
  .tips2{
    width: 300px;
    margin: 320px 0 0 60px;
  }
  .tips3 {
    width: 1350px;
    font-size: 20px;
  }
}

/* Tips */

/* Footer */

.footer-copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 1rem 0 3rem;
  color: #fff;
}

.footer-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin: 3.125rem 0 0
}

.copy {
  color: var(--dark);
}

.copy:active {
  color: #000 !important;
}

.copy:hover {
  color: white;
  border-bottom: 3px solid white;
}

@media (max-width: 620px) {
  .footer-description div{
    width: 100%;
    text-align: center;
  }
}

/* Footer */

/* Main Page */

/* Corretor Page */

.checkBoxRejectionLabel{
  font-weight: 600;
  color: var(--dark);
}

.checkBoxRejection{
  margin: 5px;  
}

.checkBoxRejection[type="checkbox"]{
  appearance: auto;
  border: none;
}

/* Corretor Page */

/* Aluno Page */

.icon_inbox{
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: var(--dark);
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.icon_inbox:active{
   background-color: var(--white);
}

.inbox_panel.close{
  display: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.inbox_panel.open{
  margin-top: 5px;
  display: block;
  position: absolute;
  width: 150px;
  height: auto;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* Aluno Page */

.container-full {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: self-end;
}

.noPadding {
  padding: 0 !important;
}

.rotation-button {
  padding: 10px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  background: var(--white);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.rotation-button:hover {
  box-shadow: 1px 1px 15px rgba(0, 36, 0, 0.119);
  border: 1px solid #002400;
  cursor: pointer;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.img-responsive {
  display: inline-block !important;
  max-width: 100% !important;
  height: auto !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.bg-green {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  min-height: 28.62545rem;
  background: var(--green);
}

.sidebar {
  width: 100%;
  max-width: 25.75rem;
  background: var(--dark);
  border-radius: 2.75rem;
  padding: 2.875rem 2rem;
}

.sidebar .logo {
  display: block;
  width: 100%;
  text-align: center;
}

.sidebar .logoFechada {
  display: none;
  width: 100%;
  text-align: center;
}

.sidebar hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  background: var(--green);
  margin: 1.875rem auto
}

.sidebar .menu {
  display: block;
  width: 100%;
}

.sidebar .menu ul {
  padding: 0 1.25rem;
  margin-bottom: 0;
}

.sidebar .menu ul li {
  width: 100%;
  list-style: none;
}

.sidebar .menu ul li a {
  color: var(--gray30);
  font-size: 1.25em;
  line-height: 1.541875em;
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
  ;
  border: 2px solid transparent
}

.sidebar .menu ul li a .img {
  position: relative;
  top: 4px
}

.sidebar .menu ul li a .name {
  display: flex;
  align-items: center;
}

.sidebar .menu ul li a:hover {
  color: var(--gray30);
  background: #183918;
  border: 2px solid #012000;
}

.fechado {
  width: auto;
  background: var(--dark);
  border-radius: 5rem;
  padding: 2.875rem 1rem;
}

.fechado .logo {
  display: none;
  width: 100%;
  text-align: center;
}

.fechado .logoFechada {
  display: block;
  width: 100%;
  text-align: center;
  max-width: 55%;
  margin: 0 auto;
}

.fechado hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  background: var(--green);
  margin: 1.875rem auto
}

.fechado .menu {
  display: block;
  width: 100%;
}

.fechado .menu ul {
  padding: 0;
  margin-bottom: 0;
}

.fechado .menu ul li {
  width: 100%;
  list-style: none;
}

.fechado .menu ul li a {
  color: var(--gray30);
  font-size: 1.25em;
  line-height: 1.541875em;
  display: block;
  text-align: center;
  padding: 0.5rem 1.25rem;
  border-radius: 5rem;
  ;
  border: 2px solid transparent
}

.fechado .menu ul li a .img {
  position: relative;
  top: 4px
}

.fechado .menu ul li.itemFechado a .img img {
  transform: rotate(90deg) !important;
}

.fechado .menu ul li a .name {
  display: none;
}

.content-global {
  display: block;
  width: 100%;
  margin: 0 2rem;
  padding: 3.125rem 0
}

.content-global .head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 0 2.575rem
}

.content-global .head h1 {
  display: block;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.3725em;
  color: var(--gray20);
}

.content-global .head h1 img {
  position: relative;
  top: 7px;
  margin: 0 0.5rem 0 0
}

.content-global .head .user {
  display: block;
  width: 100%;
  text-align: right;
}

.content-global .head .user ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  margin-bottom: 0;
}

.content-global .head .user ul li {
  display: inline-block;
  margin: 0 1rem 0 0;
  position: relative;
}

.content-global .head .user ul li:last-child {
  margin: 0;
}

.content-global .head .user ul li .message {
  display: block;
  width: 100%;
  color: var(--gray20);
  font-size: 1.23125em;
  position: relative;
  top: -1rem
}

.content-global .head .user ul li .photo {
  display: inline-block;
}

.content-global .head .user ul li .photo img {
  width: 3.3125rem;
  height: 3.3125rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  object-fit: cover;
}

.button-tools {
  display: flex;
  justify-content: flex-start;
}

.button-zoom {
  margin: 10px 10px;
  width: 150px;
  height: 40px;
  background-color: white;
  border: 1px solid var(--green);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media(max-width: 1240px) {
  .grid-painelaluno {
    grid-template-columns: 1fr
  }

  html {
    font-size: 12px
  }
}


@media(max-width: 767px) {
  .sidebar {
    display: none
  }
}

@media(max-width: 480px) {
  .content-global .head .user ul li .message {
    display: none
  }

  .content-global .head h1 {
    margin: -1.1rem 0 0
  }
}

@media(max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

.titleH1 {
  position: relative;
  top: -5px;
  left: 8px;
}

.container-full {
  align-items: baseline;
}

.toogle {
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 1.3rem !important;
  border-bottom: 2px solid #fff !important;
}

@media(max-width: 640px) {
  .menu li {
    margin: 0 0 2rem !important;
  }

  .menu li:last-child {
    margin: 0 !important
  }
}

.sidebar .menu ul li.itemFechado a .img img {
  transform: rotate(-90deg);
}

@media(max-width: 800px) {
  .popup-envio {
    height: 90%;
    overflow-y: scroll;
  }
}

.popRedacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.popRedacao h1 {
  display: block;
  width: 100%;
  text-align: center;
  color: #002400;
  font-weight: 700;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.popRedacao .formulario {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem 1rem 1.5rem;
  border: 2px dashed #cccccc;
  text-align: center;
  border-radius: 0.5rem;
}

.popRedacao .formulario form {
  display: block;
  width: 100%;
}

.formulario input[type="text"] {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0.8rem 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.upload .custom-file-upload {
  border-radius: 0.5rem;
  margin: 0;
  color: #fff;
  background: #72b01d;
  transition: all 0.5s ease;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.upload .custom-file-upload:hover {
  background: #002400;
}

.popRedacao .botoes {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0 0;
  gap: 1rem;
}

.enviar {
  cursor: pointer;
  border: none;
  display: block;
  transition: all 0.5s ease;
  padding: 0.5rem 1rem;
  background: #002400;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.enviar :hover {
  background: #72b01d;
}

.popRedacao .botoes a.cancelar {
  background: transparent;
  color: #002400;
}

.popRedacao .botoes a.cancelar:hover {
  color: #002400;
  background: transparent;
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .popup-envio-content {
    width: 95% !important;
  }

  .popRedacao {
    padding: 20px;
  }
}

.popup-envio-content {
  height: 90%;
  overflow-y: scroll;
}

.popup-content {
  border-radius: 0.5rem !important;
}

.popup-overlay {
  background: rgb(0 0 0 / 98%) !important;
}

.react-autosuggest__container {
  width: 100%;
}

ul.react-autosuggest__suggestions-list {
  list-style: none;
}

ul.react-autosuggest__suggestions-list li {
  cursor: pointer;
  background: var(--gray20);
  padding: 0.5rem 1rem;
  margin: 0 0 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

ul.react-autosuggest__suggestions-list li:hover {
  background: var(--dark);
  color: var(--white);
}

.uploadRemove {
  border: none;
  background: none;
  border-bottom: 2px solid var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0 0;
  font-family: "Poppins", sans-serif;
}

.inputUploadRedacao:disabled~label {
  background: #9c9c9c !important;
}

.popRedacao textarea {
  width: 100%;
  margin: 1rem 0 0;
  height: 6rem;
  border: 1px solid var(--gray50);
  border-radius: 0.5rem;
}

.popRedacao img {
  object-fit: cover !important;
}

.grid-painelaluno {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 2rem;
}

.grid-painelaluno .content {
  display: block;
  width: 99%;
}

.grid-painelaluno .content .head-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 0 0 3.5rem;
}

.grid-painelaluno .content .head-box .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 12.3125rem;
  width: 100%;
  border-radius: 0.75rem;
  background: var(--gray20);
  padding: 0.8125rem;
  position: relative;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.grid-painelaluno .content .head-box .box .icon {
  position: absolute;
  right: 0.8125rem;
  top: 0.8125rem;
}

.grid-painelaluno .content .head-box .box .texto {
  display: block;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.0625em;
  text-align: center;
  line-height: 2.476875rem;
  max-width: 265px;
  margin: 0 0 0.5rem;
}

.grid-painelaluno .content .head-box .box:nth-child(2) .texto {
  max-width: 14.06rem;
}

.grid-painelaluno .content .head-box .box .hr {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 1rem;
  max-width: calc(100% - 2rem);
  border-radius: 5px;
}

.grid-painelaluno .content .head-box .box .button {
  display: block;
  width: 100%;
  text-align: center;
}

.grid-painelaluno .content .head-box .box .button a {
  display: flex;
  margin: 0 auto;
  box-shadow: 0px 0px 9px 0px #c68989;
  align-items: center;
  justify-content: center;
  background: #c70500;
  min-height: 2.8rem;
  font-weight: 500;
  width: 11.0625rem;
  border-radius: 5.53125rem;
  color: var(--white);
  font-size: 1.0575em;
}

.grid-painelaluno .content .head-box .box .button a:hover {
  transform: scale(0.9);
}

.grid-painelaluno .content .box-content {
  display: block;
  width: 100%;
  border-radius: 0.75rem;
  background: var(--gray20);
  padding: 1.875rem 1.5625rem;
  position: relative;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.grid-painelaluno .content .box-content .head-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5625rem;
}

.grid-painelaluno .content .box-content .head-content .icon {
  position: relative;
  top: 4px;
}

.grid-painelaluno .content .box-content .head-content .title {
  display: block;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.0625em;
  color: var(--dark);
}

.grid-painelaluno .content .box-content .graphic {
  display: block;
  width: 100%;
}

.grid-painelaluno .sidebar-panel {
  display: block;
  width: 100%;
}

.grid-painelaluno .sidebar-panel .grades {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
}

.grid-painelaluno .sidebar-panel .grades ul {
  padding: 0;
  margin: 0;
}

.grid-painelaluno .sidebar-panel .grades ul li {
  display: inline-block;
  width: 100%;
  margin: 0 0 1rem;
  text-align: center;
  color: var(--dark);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 0.75rem;
  font-size: 1.366875em;
  background: var(--gray20);
  padding: 0.5125rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.grid-painelaluno .sidebar-panel .grades ul li.desempenho {
  margin: 0;
  transition: all 0.5s ease;
  display: inline-block;
  width: 100%;
  margin: 0 0 1rem;
  text-align: center;
  color: var(--gray20);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 0.75rem;
  font-size: 1.2em;
  background: var(--dark);
  padding: 0.5125rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.grid-painelaluno .sidebar-panel .grades ul li.desempenho:hover {
  transform: scale(0.9);
}

.grid-painelaluno .sidebar-panel .grades ul li.desempenho a {
  display: block;
  color: var(--gray20);
}

.grid-painelaluno .sidebar-panel .submit-essay {
  display: block;
  width: 100%;
  margin: 0 0 1.8125rem;
}

.grid-painelaluno .sidebar-panel .submit-essay a {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  margin: 0 auto;
  box-shadow: 0px 0px 9px 0px #407610;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  min-height: 4.2rem;
  font-weight: 500;
  border-radius: 1.2rem;
  color: var(--gray20);
  font-size: 1.275em;
}

.grid-painelaluno .sidebar-panel .submit-essay .icon {
  position: relative;
  top: 4px;
}

.grid-painelaluno .sidebar-panel .submit-essay a:hover {
  transform: scale(0.9);
}

.grid-painelaluno .sidebar-panel .themes {
  display: block;
  width: 100%;
  background: var(--gray20);
  border-radius: 0.75rem;
  padding: 1.5625rem 2.1875rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.grid-painelaluno .sidebar-panel .themes ul {
  padding: 0;
  margin: 0;
}

.grid-painelaluno .sidebar-panel .themes ul li {
  display: inline-block;
  width: 100%;
  margin: 0 0 1rem;
}

.grid-painelaluno .sidebar-panel .themes ul li:last-child {
  margin: 0;
}

.grid-painelaluno .sidebar-panel .themes ul li a {
  display: block;
  background: var(--gray50);
  padding: 0.7rem;
  border-radius: 0.9rem;
  text-align: center;
  color: var(--dark);
  font-size: 1.1em;
  line-height: 1.1em;
}

@media (max-width: 1200px) {
  .grid-painelaluno {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .grid-painelaluno .content .head-box {
    grid-template-columns: 1fr;
  }
}

.react-select-container {
  width: 80%;
}

.chart {
  height: 50vh;
  width: 60vw;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.chart:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.popup-content {
  border-radius: 0.5rem !important;
}

.popup-overlay {
  background: rgb(0 0 0 / 60%) !important;
}

.react-autosuggest__container {
  width: 100%;
}

ul.react-autosuggest__suggestions-list {
  list-style: none;
}

ul.react-autosuggest__suggestions-list li {
  cursor: pointer;
  background: var(--gray20);
  padding: 0.5rem 1rem;
  margin: 0 0 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

ul.react-autosuggest__suggestions-list li:hover {
  background: var(--dark);
  color: var(--white);
}

.uploadRemove {
  border: none;
  background: none;
  border-bottom: 2px solid var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0 0;
  font-family: "Poppins", sans-serif;
}

.inputUploadRedacao:disabled~label {
  background: #9c9c9c !important;
}

.popRedacao textarea {
  width: 100%;
  margin: 1rem 0 0;
  height: 6rem;
  border: 1px solid var(--gray50);
  border-radius: 0.5rem;
}

.popRedacao img {
  object-fit: cover !important;
}

.modalPromo {
  text-align: center;
}

.modalPromo a {
  outline: none;
}

.modalPromo .closeModalPromo {
  position: absolute;
  top: -0.3rem;
  right: 0.7rem;
  font-size: 2.5rem;
  color: #000e00;
}

#popup-2 {
  background: #fafdff;
}

.whatsapp {
  width: 70px;
  height: 70px;
  padding: 10px;
  background-color: #d1d1d1;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.whatsapp:hover {
  cursor: pointer;
  box-shadow: 4px 4px 35px rgba(24, 57, 24, 0.5);
}

.whatsapp:active {
  background-color: #306b2b;
}

.whatsapp-widget {
  width: 22em;
  height: 16em;
  background-color: #d1d1d1;
  position: absolute;
  bottom: 0px;
  right: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 4px 4px 35px rgba(24, 57, 24, 0.5);
}

.whatsapp-image {
  width: 70px;
}

.title_notas {
  color: var(--dark);
}

.notas_titulo_corrigidas {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.notas_titulo_corrigidas h2 {
  text-decoration: underline;
  font-size: 20px;
  margin-right: 10px;
}

.box_corrigidas {
  margin: 15px 0px;
  box-shadow: 1px 1px 15px rgba(24, 57, 24, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 15px;
}

.redacoes-box .content .head .data {
  display: flex;
  justify-content: center;
  flex: 1;
}

.redacoes-box .content .head .tema {
  display: flex;
  justify-content: center;
  flex: 7;
}

.redacoes-box .content .head .estudante {
  display: flex;
  justify-content: center;
  flex: 2;
}

.redacoes-box .content .list-item .item {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin: 0 0 1rem;
}

.redacoes-box .content .list-item .item .data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--dark);
  background: var(--gray50);
  min-height: 2.4375rem;
  border-radius: 0.9rem;
}

.redacoes-box .content .list-item .item .tema {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 7;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--dark);
  background: var(--gray50);
  min-height: 2.4375rem;
  border-radius: 0.9rem;
}

.redacoes-box .content .list-item .item .estudante {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  width: auto;
  padding: 0 20px;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--dark);
  background: var(--gray50);
  min-height: 2.4375rem;
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
}

.redacoes-box .content .list-item .item .circle {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.redacoes-box .content .list-item .item-finished {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin: 0 0 1rem;
}

.redacoes-box .content .list-item .item-finished .data-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  background: var(--green);
  min-height: 2.4375rem;
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
}

.redacoes-box .content .list-item .item-finished .tema-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 7;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  background: var(--green);
  min-height: 2.4375rem;
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
}

.redacoes-box .content .list-item .item-finished .estudante-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  width: auto;
  padding: 0 20px;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  background: var(--green);
  min-height: 2.4375rem;
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
}

.circle {
  display: flex;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.item .circle .ic,
.item-finished .circle .ic {
  display: block;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.redacoes-box .content .list-item .item-finished .circle,
.redacoes-box .content .list-item .item .circle {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.dual_bals {
  display: flex;
}

.circle .status>h6 {
  font-size: 15px;
  color: var(--dark);
}

.caption {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 10px;
  align-items: center;
}

.ic-yellow {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #DEC90D;
}

.ic-green {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--green);
}

.ic-red {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: red;
}

.msg_aluno {
  background-color: var(--white);
  box-shadow: 1px 1px 15px rgba(0, 36, 0, 0.219);
  text-align: center;
  margin-bottom: 20px;
  color: #002400;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
}

.msg_aluno>h1 {
  margin-bottom: 15px;
}

.messageRejection {
  padding: 10px;
  border: none;
  resize: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.messageRejection:focus-visible,
.messageRejection:focus,
.messageRejection:focus-within {
  outline: none !important;
}

.messageRejection:focus {
  box-shadow: 1px 1px 15px rgba(0, 36, 0, 0.219);
  border: 1px solid #002400;
}