.gridTemas{display: grid; grid-template-columns: 2fr 1fr; gap: 2rem}
.gridTemas .content{display: block; width: 100%;}
.gridTemas .content .boxTema{display: block; width: 100%; border-radius: 0.75rem; background: var(--gray20); padding: 1.875rem 1.5625rem; position: relative; box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);}
.gridTemas .content .boxTema .competencia{display: grid; grid-template-columns: repeat(5, 1fr); gap: 1rem; margin: 0 0 1.5rem}
.gridTemas .content .boxTema .competencia span{transition: all 0.5s ease; display: flex; cursor: pointer; align-items: center; justify-content: center; width: 100%; color: var(--gray20);background: #3f37c9; height: 2.4375rem; border-radius: 0.75rem;font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 0.91125em;}
.gridTemas .content .boxTema .competencia span.active{border: 2px solid var(--green)}
.gridTemas .content .boxTema .competencia span:hover{transform: scale(0.9);}
.gridTemas .content .boxTema .tasks{display: grid; grid-template-columns: repeat(4, 1fr); gap: 1rem; margin: 0 0 2rem}
.gridTemas .content .boxTema .tasks .task{display: flex; transition: all 0.5s ease; cursor: pointer; flex-direction: row; gap: 0.3rem;  align-items: center; justify-content: center; background: var(--white);height: 2.4375rem; border-radius: 0.75rem;font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 0.91125em;}
.gridTemas .content .boxTema .tasks .task.active{border: 2px solid var(--green)}
.gridTemas .content .boxTema .tasks .task:hover{transform: scale(0.9);}
.gridTemas .content .boxTema .tasks .task .img{position: relative; top: 2px}
.gridTemas .content .boxTema .redacao{display: block; width: 100%; height: 25rem; overflow: scroll;}

.gridTemas .notas{display: block; width: 100%; height: max-content; border-radius: 0.75rem; background: var(--gray20); padding: 1.875rem 1.5625rem; position: relative; box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);}
.gridTemas .notas h1{display: block; width: 100%; text-align: center; font-size: 1.5625rem}
.gridTemas .notas .criterios{display: block; width: 100%;}
.gridTemas .notas .criterios .criterio{display: block; width: 100%; margin: 0 0 1rem}
.gridTemas .notas .criterios .criterio .title{display: block; width: 100%; font-size: 0.926874rem; font-weight: 500; color: var(--dark)}
.gridTemas .notas .criterios .criterio .subtitle{display: block; width: 100%; font-size: 0.736875rem; font-weight: 300; color: var(--gray40)}
.gridTemas .notas .criterios .criterio .notasCriterios{display: grid; width: 100%; grid-template-columns: repeat(6, 1fr); gap: 0.5rem; margin: 0.5rem 0 0}
.gridTemas .notas .criterios .criterio .notasCriterios .nota{display: flex; align-items: center; flex-direction: row; gap: 0.4rem; width: 100%; background: var(--white); border-radius: 0.71875rem; font-size: 0.7rem; color: var(--gray40); padding: 0.3875rem 0.6875rem}
.gridTemas .notas .criterios .criterio .notasCriterios .nota input{width: 0.5625rem; height: 0.5625rem}

.gridTemas .notas .criterios .botao{display: block; width: 100%; margin: 2rem 0 0}
.gridTemas .notas .criterios .botao button{margin: 0; border: none;  cursor: pointer; transition: all 0.5s ease; display: inline-block; width: 100%; margin: 0 0 1rem; text-align: center; color: var(--gray20); font-family: 'Poppins', sans-serif; font-weight: 500; border-radius: 0.75rem; font-size: 1.2em; background: var(--dark); padding: 0.5125rem; box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);}
.gridTemas .notas .criterios .botao button:hover{transform: scale(0.9);}

.content-global{
  max-width: 95%!important;
  margin: 0 auto;
}

.sidebar{ display: none!important; }

.gridTemas .content .boxTema .redacao{
    display: block;
    width: 100%;
    height: 60rem;
    overflow: scroll;
}

.gridTemas .content .boxTema .redacao img{
    width: 100%;
}


@media(max-width: 1920px){
  /* .content-global{max-width: 1200px; margin: 0 0 0 27.75rem} */
  .content-global{ max-width: 95%!important; margin: 0 auto!important;}
  .sidebar{ display: none!important; }
}

@media(max-width: 1700px){
  /* .content-global{max-width: 1200px; margin: 0 0 0 27.75rem} */
  .content-global{ max-width: 95%!important; margin: 0 auto!important;}
  .sidebar{ display: none!important; }
}

@media(max-width: 1630px){
  /* .content-global{max-width: 1150px; margin: 0 0 0 26.75rem} */
  /* html {font-size: 14px} */
  .content-global{ max-width: 95%!important; margin: 0 auto!important;}
  .sidebar{ display: none!important; }
}

@media(max-width: 1440px){
  /* .content-global{max-width: 70%} */
  .content-global{ max-width: 95%!important; margin: 0 auto!important;}
  .sidebar{ display: none!important; }
  .gridTemas .content .boxTema .competencia{grid-template-columns: repeat(3, 1fr)}
  .gridTemas .content .boxTema .tasks{grid-template-columns: repeat(3, 1fr)}
}


@media(max-width: 1240px){
  /* .content-global{max-width: 70%; margin: 0 0 0 25rem} */
  .content-global{ max-width: 95%!important; margin: 0 auto!important;}
  .sidebar{ display: none!important; }
}

@media(max-width: 1100px){
  .content-global{ max-width: 95%!important; margin: 0 auto!important;}
  .sidebar{ display: none!important; }
  
  /* .content-global{max-width: 90%; margin: 0 auto} */
}

@media(max-width: 640px){
  .content-global{ max-width: 95%!important; margin: 0 auto!important;}
  .sidebar{ display: none!important; }

  .gridTemas .content .boxTema .competencia{grid-template-columns: repeat(3, 1fr)}
  .gridTemas .content .boxTema .tasks{grid-template-columns: repeat(3, 1fr)}
  .gridTemas{grid-template-columns: 1fr}
}

@media(max-width: 480px){
  .content-global{ max-width: 95%!important; margin: 0 auto!important;}
  .sidebar{ display: none!important; }

  .gridTemas .content .boxTema .competencia{grid-template-columns: repeat(2, 1fr)}
  .gridTemas .content .boxTema .tasks{grid-template-columns: repeat(2, 1fr)}
  .gridTemas .notas .criterios .criterio .notasCriterios{grid-template-columns: repeat(3, 1fr)}
}